
{{> head}}
 
{{> navbar}}

   <div class="row">
     <div class="col-8">
       <h1>Alex Morgan</h1>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cumque nemo laboriosam maxime vero corrupti alias nihil? Sunt commodi deleniti odit reiciendis impedit asperiores beatae amet! Illo tempore rerum neque.
       </p>
     </div>
     <div class="col-4">
       <img src="assets/img/alex-morgan.jpg" class="img-thumbnail">
     </div>
   </div>

   {{> footer}}